{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="Distributed, Systems, Docker, Nginx, Django, Rest, Framework">
  <meta name="description" content="Distributed Systems Project 2019 Technical University of Crete">
  <meta name="author" content="Minas Pantelidakis">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% block title %}{% endblock %}
  <link rel="stylesheet" href='{% static "css/spectre.min.css" %}'>
  <link rel="stylesheet" href='{% static "css/spectre-icons.min.css" %}'>
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <style>
  </style>
</head>

<body>

{% block content %}{% endblock %}

<script src='{% static "js/jquery-3.3.1.min.js" %}' ></script>
<script src='{% static "js/utility_funcs.js" %}' ></script>
{% block javascript %}{% endblock %}
</body>
</html>