{% if request.user == u %}

		<h1>Friends</h1>
		
		{% for friend in friends_list %}
			<a href="{{ friend.user.profile.get_absolute_url }}">{{ friend.user.username }}</a>
		{% endfor %}
		
		
	{% else %}

		{% if button_status == 'not_friend' %}
			<small><a class='btn btn-primary' href="/users/friend-request/send/{{ u.id }}">Add Friend</a></small>
		{% elif button_status == 'friend_request_sent' %}
			<small><a class="btn btn-warning" href="/users/friend-request/cancel/{{ u.id }}">Remove Friend </a></small>
		{% endif %}

	{% endif %}