{% extends "base.html" %}
{% load static %}

{% block title%}<title>Gallery Detail</title>{% endblock %}
{% block content %}
<div id="id_login_required"></div>
<div id='id_get_gallery_detail_response' class="api_response"></div>

<div class="gallery">
    <h3 class="gallery__header gallery__header--h3">Gallery Details:</h3>
    <div class="gallery__details">
        <p class="gallery__details-field" id=id_gallery_id></p>
        <p class="gallery__details-field" id=id_gallery_name>Name:&nbsp;<span></span></p>
        <p class="gallery__details-field" id=id_gallery_owner>Owner:&nbsp;<span></span></p>
        
    </div>
    
    <h2 class="gallery__header gallery__header--h2">Images:</h2>
    <div class="gallery__image-list" id="id_gallery_image_list" style="max-width:1400px;min-width:900px;margin:0 auto;">

    </div>
</div>



<div class='column col-3'>
    <button class="btn btn-primary" id='id_open_upload_modal' >Upload an image</button>
</div>

<div class='column col-3'>
    <a class="btn btn-primary" href='{% url "gallery:list" %}'>Back to gallery list</a>
</div>
<div class='column col-3'>
    <a class="btn btn-primary" href='{% url "friends:manage" %}'>Manage Friends</a>
</div>
<div class='column col-3'>
    <a class="btn btn-primary" href='{% url "home" %}'>Back to home page</a>
</div>



<div class="modal" id="id_upload_image_modal">
    <a href="#close" class="modal-overlay close-modal" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right close-modal" aria-label="Close"></a>
            <div class="modal-title h5">Upload an image</div>
        </div>
        <div class="modal-body">
            <div class="content">
                <form  method="post"  id="id_img_upload_form" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label" for="id_input_image_name">Name</label>
                        <input class="form-input" type="text" name="name" id="id_input_image_name" placeholder="Name">

                        <label class="form-label" for="id_input_gallery_id">Gallery ID</label>
                        <input class="form-input" type="text" name="gallery" id="id_input_gallery_id" readonly>

                        <label class="form-label" for="id_input_image">Select an image:</label>
                        <input class="form-input" type="file" id="id_input_image" name="img_to_upload" accept="image/*">
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" type="submit" value="Upload">
                        <a href="#close" class="btn close-modal" >Close</a>
                    </div>
                </form>
                <progress></progress>
                <div class='label label-error mt-1 d-invisible' id='id_modal_error'>
                    Failed to upload the image!
                </div>
            </div>
        </div>
       
    </div>
</div>

{% endblock %}
  
{% block javascript %}
<script>

    var gallery_get_url = function() {
        url = window.location.href
        pk = url.split('/')[4];
        console.log(pk);
        var url_mask = "{% url 'gallery-api:gallery-detail' pk=1337 %}".replace(/1337/, pk.toString());
        return url_mask;
    };

    
 
    var upload_image_url = "{% url 'gallery-api:image-list' %}";

    var gallery_detail_url = gallery_get_url();
    var comment_list_url = "{% url 'comment-api:comment-list'%}";
        

    var token = getToken();
    var g_csrftoken = getCookie('csrftoken');

    $(document).ready(function(){ 

        //Neat for development, since we know the token for the headers, testing the API
        if(token){
            console.log(token);
            ajaxPopulateGallery();
        }
        else{
            $("#id_login_required").html("<span class='label label-error'>Fail! Please log in to continue </span>");
            $(".gallery").hide();
        }
        
    }); //FUNCTION THAT RUNS AFTER DOCUMENT LOADS ENDING

    function ajaxPopulateGallery(){

        console.log("Gallery detail url: " + gallery_detail_url);
        $.ajax({
            dataType : "json",
            url: gallery_detail_url,
            method: "GET",
            data: {id:"id", name:"name", images:"images", owner:"owner"},
            beforeSend: function(request) {
                if(token) {
                    request.setRequestHeader("Authorization", "Token " + token.key);
                }
            }
        }).done(function(data) {
            
            console.log(data);
            
            $('#id_gallery_name span').text(data.name);
            $('#id_gallery_owner span').text(data.owner);
            $('#id_gallery_id').text(data.id);
            
            $(data.images).each(function(i,item) {
                console.log(item);
                console.log(item.image);

                $("<div/>").attr({"class":"iNc","style":"width:100%;height:60vh;"}).html(
                    $("<div/>").attr({"class":"iNc__image-container","style":"display:inline-block;width:60%;height:100%;"}).html(
                        $("<figure/>").attr({"style":"height:100%;"}).html(
                            $("<img/>").attr({"class":"img-responsive  img-fit-cover img-gallery", "style":"width:100%;max-height: 93%;", "src":item.image}).add($("<figcaption/>").attr({"class":"figure-caption text-center"}).text(item.name))
                        )
                    ).add(
                        $("<div/>").attr({"class":"inc__comment-section", "style":"float:right;width:40%; height:100%;padding-top:10px;"}).html(
                            $('<h3/>').attr({"class":"inc__comment-section-header", "style":"width:max-content;margin:0 auto;"}).text("Comments").add(
                            $('<div/>').attr({"class":"inc__comment-section-comment-list","id":"id_comment_list_img_"+item.id, "style":"padding:15px 20px;overflow-y: auto;height:50vh;"}))
                        )
                    )
                ).appendTo('#id_gallery_image_list');
            });
                
            $.ajax({
                dataType : "json",
                url: comment_list_url,
                method: "GET",
                data: {id:"id", owner:"owner", image:"image", comment_text:"comment_text", created_at:"created_at", modified_at:"created_at" },
                beforeSend: function(request) {
                    if(token) {
                        request.setRequestHeader("Authorization", "Token " + token.key);
                    }
                }
            }).done(function(data) {
                $(data).each(function(i,item) {
                    var dot_index = item.created_at.lastIndexOf(".");
                    var date = item.created_at.substr(0,dot_index);
                    date = date.replace(/T/g, ' ');
                    console.log(date);
                    console.log("COMMENT")
                    console.log(item.comment_text);
                    $("<div/>").attr({"class":"inc__comment-section-comment"}).html(
                        $("<p/>").attr("class","inc__comment-section-comment-text").text(item.comment_text).add(
                            $("<p/>").attr({"class":"inc__comment-section-posted-by","style":"font-style: italic;width:max-content;margin-left:auto;margin-bottom:0px;"}).text("posted by "+item.owner).add(
                                $("<p/>").attr({"class":"inc__comment-section-created_at","style":"font-style: italic;width:max-content;margin-left:auto;"}).text("created at "+date)
                            )
                        )
                    ).appendTo('#id_comment_list_img_'+item.image);
                    
                    
                });
            }).fail(function(data) {
                console.log("Failed to retrieve comments! Response: " + data.responseText + " (status: " + data.status+")")
            });
                
                
                // // console.log(my_username);
                // if(item.owner==my_username){
                //     $("<li/>").attr("class","item item_gallery").html($("<a>").attr("href",window.location.href+item.id).text(item.name)).appendTo('#id_my_galleries_list');
                // }
                // else{
                //     $("<li/>").attr("class","item item_gallery").html($("<a>").attr("href",window.location.href+item.id).text(item.name)).appendTo('#id_other_galleries_list');
                // }
            
            $('#id_get_gallery_detail_response').html("<span class='label label-success'>Ok! Response: " + JSON.stringify(data));
        }).fail(function(data) {
            $(".gallery").hide();
            $('#id_get_gallery_detail_response').html("<span class='label label-error'>Fail! Response: " + data.responseText + " (status: " + data.status+")</span>");
        });
    }


    //Open and close upload image modal
    $('#id_open_upload_modal').click(function() {
        $('#id_upload_image_modal').addClass('active');
        $('#id_input_gallery_id').val($('#id_gallery_id').text());
    });

    $('#id_upload_image_modal .close-modal').click(function() {
        $('#id_upload_image_modal').removeClass('active');
    });

    //Upload button functionaloty
    $("#id_img_upload_form").on('submit',(function(e) {
        e.preventDefault();
    
        var gallery_name = $('#id_gallery_name').text();
        var gallery_id = $('#id_gallery_id').text();
        var image_name = $('#id_input_image_name').val();
        var image = $('#id_input_image').val();

        //error_checking
        if(image_name){

            if(image){
                $('#id_modal_error').addClass('d-invisible');
            }
            else{
                $('#id_modal_error').text('The image field is incorrect');
                $('#id_modal_error').removeClass('d-invisible');
            }
        }
        else{
            $('#id_modal_error').text('Please type a name for your image');
            $('#id_modal_error').removeClass('d-invisible');
        }
        //end error_checking

        
        if(gallery_id && image_name && image) {

    
            var formData = new FormData(this);
            formData.append('image', $('input[type=file]')[0].files[0]); 

            console.log('Gallery to upload to: ' + gallery_name);
            console.log('New image name: ' + image_name);
            console.log('upload url: ' + upload_image_url);
            console.log('Image to upload: ' + image);
            console.log('gallery primary key: ' + gallery_id);

            console.log('Uploading...');
            
            $.ajax({
               
                url: upload_image_url,
                type: "POST",
                data:  formData,
                contentType: false,
                cache: false,
                processData:false,
            
                beforeSend: function(request) {
                    if(token) {
                        request.setRequestHeader("Authorization", "Token " + token.key);
                    }
                },
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        // For handling the progress of the upload
                        myXhr.upload.addEventListener('progress', function (e) {
                        if (e.lengthComputable) {
                            $('progress').attr({
                            value: e.loaded,
                            max: e.total,
                            });
                        }
                        }, false);
                    }
                    return myXhr;
                }
            }).done(function(data) {
               console.log("Uploaded!!");
                    
            }).fail(function(data) {
                console.log("Failed to upload the image! Response: " + data.responseText + " (status: " + data.status+")")
            });

        }
    }));
</script>
{% endblock %}