{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>My profiles</title>
  <link rel="stylesheet" href='{% static "spectre.min.css" %}'>
  <link rel="stylesheet" href='{% static "spectre-icons.min.css" %}'>
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <style>
  </style>
</head>
<body>
    

    <h1 class="header-h1">List of available people to follow:</h1>
    <div id='id_get_profiles_response' class="api_response"></div>


    <div id="id_available_people_list" class="people_list"></div>
    <div id='id_add_friend_response' class="api_response"></div>
    
    <h1 class="header-h1">List of people you are already following:</h1>

    <div id="id_friend_list" class="people_list"></div>
    <div id='id_get_friends_response' class="api_response"></div>
  
    <script src='{% static "jquery-3.3.1.min.js" %}' ></script>
    <script>
        var g_urls = {
            'available_profiles': "{% url 'friends-api:profile-list' %}",
        };
        var g_auth = localStorage.getItem("auth");
        if(g_auth == null) {
            g_auth = sessionStorage.getItem("auth");
        }
        
        if(g_auth) {
            try {
                g_auth = JSON.parse(g_auth);
            } catch(error) {
                g_auth = null; 
            }
        }

        var getCookie = function(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };
        var g_csrftoken = getCookie('csrftoken');

        $(function () {   
            //Neat for development, since we know the token for the headers, testing the API
            console.log(g_auth);

            var myslag = g_auth.username;
            var myProfileSlag = myslag.replace(/[^a-z0-9\s]/gi, '').replace(/[@\s]/g, '')
            var my_profile_url = "/api/friends/profiles/" + myProfileSlag +'/';
   

            //GET AVAILABLE PEOPLE TO FOLLOW
            $.ajax({
                dataType : "json",
                url: g_urls.available_profiles, 
                method: "GET",
                data: {url:"url", id:"id", user:"user", slug: "slug" },
                beforeSend: function(request) {
                    if(g_auth) {
                        request.setRequestHeader("Authorization", "Token " + g_auth.key);
                    }
                },
            }).done(function(data) {
                
                // Generate the html for the users available for follow
                $(data).each(function(i,item) {
                    $("<li/>").html($("<a>").attr("href","//localhost:1337/friends/"+item.slug).text(item.user)).appendTo('#id_available_people_list');
                    $("<button/>").attr({"value": item.user, "class": "btn btn_add_friend"}).text("Add Friend").appendTo('#id_available_people_list');
                });
                $('#id_get_profiles_response').html("<span class='label label-success'>Ok! Response: " + JSON.stringify(data));

            }).fail(function(data) {
                $('#id_get_profiles_response').html("<span class='label label-error'>Fail! Response: " + data.responseText + " (status: " + data.status+")</span>");
            });

            //GET PEOPLE WE ARE ALREADY FOLLOWING
            $.ajax({
                dataType : "json",
                url: my_profile_url,
                method: "GET",
                data: {friends:"friends"},
                beforeSend: function(request) {
                    if(g_auth) {
                        request.setRequestHeader("Authorization", "Token " + g_auth.key);
                    }
                },
            }).done(function(data) {
                
                
                $(data.friends).each(function(i,item) {
                    var userslag = JSON.stringify(item);
                    var userProfileSlag = userslag.replace(/[^a-z0-9\s]/gi, '').replace(/[@\s]/g, '');
                    $("<li/>").html($("<a>").attr("href","//localhost:1337/friends/"+userProfileSlag).text(item)).appendTo('#id_friend_list');
                    $("<button/>").attr({"value": item, "class": "btn btn_delete_friend"}).text("Delete Friend").appendTo('#id_friend_list');
                });
                $('#id_get_friends_response').html("<span class='label label-success'>Ok! Response: " + JSON.stringify(data));

            }).fail(function(data) {
                $('#id_get_friends_response').html("<span class='label label-error'>Fail! Response: " + data.responseText + " (status: " + data.status+")</span>");
            });


            $('#id_available_people_list').on('click', '.btn_add_friend', function(){
               
                user_to_add = $(this).val();
                // console.log(user_to_add);
    
                $.ajax({
                    dataType : "json",
                    url: my_profile_url,
                    method: "GET",
                    data:{friends: "friends"},
                    beforeSend: function(request) {
                        if(g_auth) {
                            request.setRequestHeader("Authorization", "Token " + g_auth.key);
                        }
                    }
                }).done(function(data) {

                    var user_already_in_friends = data['friends'].find(function(element) {
                        return element == user_to_add;
                    });

                    if(!user_already_in_friends){
                        data['friends'].push(user_to_add);
                        data = JSON.stringify(data);
                        $.ajax({
                            contentType:"application/json",
                            url: my_profile_url,
                            method: "PUT",
                            data: data,
                            beforeSend: function(request) {
                                if(g_auth) {
                                    request.setRequestHeader("Authorization", "Token " + g_auth.key);
                                }
                            }
                        }).done(function(data) {
                            console.log(data['friends']);
                            //ADD the newly added user to our html friend list
                            var userslag = user_to_add;
                            var userProfileSlag = userslag.replace(/[^a-z0-9\s]/gi, '').replace(/[@\s]/g, '');
                            $("<li/>").html($("<a>").attr("href","//localhost:1337/friends/"+userProfileSlag).text(user_to_add)).appendTo('#id_friend_list');
                            $("<button/>").attr({"value": user_to_add, "class": "btn btn_delete_friend"}).text("Delete Friend").appendTo('#id_friend_list');
                            $('#id_add_friend_response').html("<span class='label label-success'>Ok! Response: " + data);
                        }).fail(function(data, textStatus, errorThrown) {
                            console.log("The following error occured: " + textStatus, errorThrown);
                            if (textStatus=="error")
                                $('#id_add_friend_response').html("<span class='label label-error'>Fail! Status: "+ textStatus +" (error thrown : " +errorThrown +")</span>");
                            $('#id_add_friend_responsee').html("<span class='label label-error'>Fail! Response: " + data.responseText + " (status: " + data.status+")</span>");
                        });
                    }
                    else{
                        console.log("User Already in your friends");
                    }
        
                }).fail(function(data, textStatus, errorThrown) {
                    console.log("The following error occured: " + textStatus, errorThrown);
                    if (textStatus=="error")
                        $('#id_add_friend_response').html("<span class='label label-error'>Fail! Status: "+ textStatus +" (error thrown : " +errorThrown +")</span>");
                    $('#id_add_friend_responsee').html("<span class='label label-error'>Fail! Response: " + data.responseText + " (status: " + data.status+")</span>");
                });
                


            }); //FUNCTION ENDING
        }); //FUNCTION THAT RUNS AFTER DOCUMENT LOADS ENDING


        
    </script>
  
</body>

</html>
